body {
  margin: 0;
  font-family: "roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
   padding: auto;

  max-width: 1080px;
  margin: 20px auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
